{{!< default}}
{{> header}}
<main>
<div class="fx-row fx-row-center-l">
    <div class="fx-col-80-l">
    {{#post}}
    <section class="creations--wrapper {{post_class}}">
        <header class="creations--header">
            <h1 class="creations--title">{{title}}</h1>
        </header>
    <div class="creations--content">
        {{content}}
    </div>
    </section>
  {{/post}}
  {{> contact}}
</main>
{{> footer}}
