<!-- Default contact template html -->
<div class="fx-row fx-row-center-l contact">
    <div class="fx-col-100-l contact--content">
        <h3 class="contact--title">Votre création personnalisée</h3>
    </div>
    <div class="fx-col-40-l contact--content">
        <a href="http://localhost:2368/contact/" class="contact--btn btn--transition btn--hover">Contactez-nous</a>
    </div>
    <div class="fx-col-40-l contact--content">
        <a href="https://www.etsy.com/" target="_blank" class="contact--etsy etsy--transition etsy--hover">Notre boutique Etsy</a>
    </div>
</div>
