<footer class="footer--container fx-row">
  <div class="fx-col-100">
    {{!-- <a class="subscribe_uber icon-rss" target="_blank" href="{{@blog.url}}/rss/"><span class="hidethis_uber">Subscribe!</span></a> --}}
    <div class="fx-row">
        <div class="fx-col-100 footer--sub">
            <div class="footer--copyright">All content copyright <a href="/">{{@blog.title}}</a> &copy; 2016 &bull; All rights reserved | <a href="http://localhost:2368/mentions-legales/">Mentions légales</a></div>
            <div class="footertext--ghost">Fièrement publié avec <a class="icon-ghost" href="http://tryghost.org" target="_blank">Ghost</a></div>
        </div>
    </div>
  </div>
</footer>
