<footer>
    <!--<div class="fx-row footer--mailchimp">
        <div class="fx-col-100-l">
        <div class="mailchimp">
            <!-- Begin MailChimp Signup Form
            <div class="mailchimp--container">
            <form action="//palette-factory.us13.list-manage.com/subscribe/post?u=1a611ec52984913307bfec0ad&amp;id=c780a1c6f6" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                <div id="mc_embed_signup_scroll">
            	<label for="mce-EMAIL" class="mailchimp--label">Inscription à notre newsletter</label>
            	<input type="email" value="" class="mailchimp--input" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
                <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_1a611ec52984913307bfec0ad_c780a1c6f6" tabindex="-1" value=""></div>
                <div class="clear"><input type="submit" value="Inscription" name="subscribe" id="mc-embedded-subscribe" class="mailchimp--button"></div>
                </div>
            </form>
            </div>
        </div>
    </div>
    </div> -->
    <div class="fx-row footer--container">
    <div class="fx-col-100-l">
    {{> social}}
    <div class="social">
        <div class="social--glyph">
        <div class="social--container">
            <a href="https://www.facebook.com/" target="_blank"><svg class="social--icon icon-facebook"><use xlink:href="#icon-facebook"></use></svg></a>
        </div>
        </div>
        <div class="social--glyph">
        <div class="social--container">
            <a href="https://www.instagram.com/" target="_blank"><svg class="social--icon icon-instagram"><use xlink:href="#icon-instagram"></use></svg></a>
        </div>
        </div>
        <div class="social--glyph">
        <div class="social--container">
            <a href="https://plus.google.com" target="_blank"><svg class="social--icon icon-google-plus"><use xlink:href="#icon-google-plus"></use></svg></a>
        </div>
        </div>
        </div>
        <div class="fx-row">
            <div class="fx-col-100 footer--sub">
                <div class="footer--copyright">Copyright <a href="/">{{@blog.title}}</a> &copy; 2016 &bull; tout droit réservé | <a href="http://localhost:2368/mentions/">Mentions légales</a></div>
                <div class="footertext--ghost">Fièrement publié avec <a class="icon-ghost" href="http://tryghost.org" target="_blank">Ghost</a></div>
            </div>
        </div>
    </div>
    </div>
</footer>
