/**************
# CONFIGURATION
**************/

/***********
# Style tile

COLORS
------
Bordeau:     #664147;
Light brown: #9C8D8A;
Light green: #E5F9E0;
Green:       #40C9A2;

FONTS
-----
Header
Font-Family: Courgette, Font-Weight: regular, Font-Size: 36, Color: #664147

Subheader
Font-Family: Courgette , Font-Weight: regular, Font-Size: 21, Color: #664147

Text
Font-Family: Lato, Font-Weight: regular, Font-Size: 14, Line-Height: 23, Color: #9C8D8A

Link
Font-Family: Lato, Font-Weight: regular, Font-Size: 14, Color: #40C9A2
************/

/* MEDIA QUERIES MODEL
@media only screen and (max-width:40em) {
    .menu-responsive ul li a {
    font-size: 1rem;
    padding: 40px;
}
}@media only screen and (min-width:40.063em) and (max-width:64em) {
    .menu-responsive ul li a {
    font-size: 0.8rem;
    text-align: right;
}
}@media only screen and (min-width:64.063em) and (max-width:90em) {
    .menu-responsive ul li a {
    font-size: 1rem;
    text-align: right;
}
}
@media only screen and (min-width:90.063em) {
    .menu-responsive ul li a {
    font-size: 1.2rem;
    text-align: right;
}

*/

/********
GLOBAL
********/

@font-face {
  font-family: 'Courgette';
  src: url('/assets/fonts/courgette-regular-webfont.eot');
  src: url('/assets/fonts/courgette-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/courgette-regular-webfont.woff2') format('woff2'),
    url('/assets/fonts/courgette-regular-webfont.woff') format('woff'),
    url('/assets/fonts/courgette-regular-webfont.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('/assets/fonts/lato-regular-webfont.eot');
  src: url('/assets/fonts/lato-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/lato-regular-webfont.woff2') format('woff2'),
    url('/assets/fonts/lato-regular-webfont.woff') format('woff'),
    url('/assets/fonts/lato-regular-webfont.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

body {
    font-family: "Lato", Arial, Georgia, Garamond, serif;
}

h1 {
    font-family: "Courgette";
    font-size: 2.25rem;
    color: #664147;
}

h1 a {
    color: #664147;
}

h2 {
    font-family: "Courgette";
    font-size: 1.6rem;
    color: #664147;
}

h3, h4 {
    font-family: "Courgette";
    color: #664147;
}

p {
    color: #9C8D8A;
}

a {
    color: #40C9A2;
}

.back-bordeau {
    background-color: #664147;
}

/********
HEADER
********/

.banner--logo {
    display: block;
    margin: 1rem auto 0 auto;
}

.banner--navigation {
    text-align: center;
}

/* TODO update logo (right size) and add hidden title for seo purpose  !! */
.logo img {
    position: relative;
    width: 10rem;
    height: 10rem;
}

.blogtitle {
  display: none;
}

.blogtitle--description {
    display: none;
}

/* TODO responsive menu + icon responsive (MENU) */

nav li {
    display: inline-block;
    margin: 0 1rem 0 1rem;
}

nav a {
    font-family: "Courgette";
    color: white;
    text-decoration: none;
}

nav a:active {
    color: #9C8D8A;
    text-decoration: underline;
}

nav a:hover {
    color: #40C9A2;
    text-decoration: underline;
}

/* TODO style of the menu */

/********
HOME
********/
.home {
    margin: 2rem 0 0 0;
}

.home--posttitle {
    margin: 0 0 2rem 0;
    text-align: center;
}

.moto {
    margin-bottom: 4rem;
    text-align: center;
}

.moto li {
    display: inline-block;
    margin: 0 1rem 0 1rem;
    padding: 1rem;
    border: 2px solid #664147;
    border-radius: 10px;
}

.content--desc {
    border-bottom: 0.2rem #E5F9E0 solid;
}

.content--title {
    font-size: 1.8rem;
    text-align: center;
    color: white;
}


@media only screen and (min-width:40.063em) and (max-width:64em) {
    .content--title {
        font-size: 1.9rem;
    }
}
@media only screen and (min-width:64.063em) {
    .content--title {
        font-size: 2rem;
    }
}
@media only screen and (min-width:90.063em) {
    .content--title {
        margin-left: 8rem;
    }
}

.content--desc p {
    padding: 0.5rem 1rem 0.5rem 1rem;
    text-align: center;
    color: white;
}

@media only screen and (min-width:40.063em) {
    .content--desc p {
        text-align: justify;
    }
}

.home--postcontent h3 {
    text-align: center;
    font-size: 2rem;
    text-decoration: underline;
}

.product--img {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

/********
CONTACT
********/

.contact {
    margin-bottom: 5rem;
    text-align: center;
}

.contact--title {
    margin-bottom: 3rem;
    font-size: 1.8rem;
    text-decoration: underline;
}

.contact--btn {
    margin: auto 0;
    box-sizing: border-box;
    appearance: none;
    background-color: transparent;
    border: 2px solid #40C9A2;
    border-radius: 0.6em;
    color: #40C9A2;
    cursor: pointer;
    align-self: center;
    font-size: 1rem;
    line-height: 1;
    padding: 1.2em 2.8em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
 }

 .contact--btn {
    text-align: center;
 }

 .contact--btn:hover {
    color: white;
}

 .contact--btn:focus {
    color: #40C9A2;
    outline: 0;
}

.btn--transition {
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}

.btn--hover:hover {
  box-shadow: 0 0 40px 40px #40C9A2 inset;
}

.contact--etsy {
    margin: auto 0;
    box-sizing: border-box;
    appearance: none;
    background-color: transparent;
    border: 2px solid #40C9A2;
    border-radius: 0.6em;
    color: #40C9A2;
    cursor: pointer;
    align-self: center;
    font-size: 1rem;
    line-height: 1;
    padding: 1.2em 2.8em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
 }

 .contact--etsy {
    text-align: center;
 }

 .contact--etsy:hover {
    color: white;
}

 .contact--etsy:focus {
    color: #F56400;
    outline: 0;
}

.etsy--transition {
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}

.etsy--hover:hover {
  box-shadow: 0 0 40px 40px #F56400 inset;
  border: 2px solid #F56400;
}

/********
TEAM
********/

/********
PRODUCTS
********/

/********
FOOTER
********/

.footer--container {
    min-height: 8rem;
    overflow: hidden;
    background-color: #9C8D8A;
}

.footer--sub {
    position: relative;
    top: 1rem;
    text-align: center;
}

.social {
    text-align: center;
}

.social--glyph {
    display: inline-block;
    margin-right: 1.5rem;
    font-size: 1.5rem;
}

.social--icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
    color: #40C9A2;
}

/* ==========================================
Single-colored icons can be modified like so:
.icon-name {
    font-size: 32px;
    color: red;
}
========================================== */
